.root {
  --red: #ff0043;
  --footerblue: #00194a;
  --blue: #00194a;
  --white: #ffffff;
  --text: #00194a42;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a,
button,
form {
  margin: 0;
  padding: 0;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.donwload {
}
.dowload-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.download-item {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 6px 0px 25px 0px #00000008;
}

.download-list-header {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.78px;
  text-align: left;
  margin-bottom: 15px;
  color: var(--text);
  opacity: 0.8;
}
.download-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  color: var(--text);
  margin-bottom: 20px;
  opacity: 0.5;
}
.download-list-link {
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
}
.text {
  opacity: 0.5;
}
.download-icon {
  width: 21px;
  height: 20px;
}
.top-icon {
  height: 60px;
  width: 60px;
  margin-bottom: 26px;
}

/*------3section------*/
.stuff {
  display: flex;
}
.stuff-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  margin-bottom: 15px;
}
.stuff-title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 100px;
}
.stuff-texttwo {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
}

.stuff-list {
  display: flex;
  flex-wrap: wrap;
}
.stuff-item {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 6px 0px 25px 0px #00000008;
  margin-bottom: 30px;
}
.stuff-list-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
  margin-bottom: 15px;
}
.stuff-list-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
}
.stuff-icon {
  width: 42px;
  height: 48px;
  margin-bottom: 26px;
}

.stuff-itemtwo {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 6px 0px 25px 0px #00000008;
  position: relative;
  top: 150px;
  margin-left: 30px;
}

/*----------section-girl------------*/
.keep {
  display: flex;
  gap: 222px;
  align-items: center;
  position: relative;
}
.keep-text-wrap {
  max-width: 466px;
}
.keep-img {
  padding-top: 75px;
  padding-bottom: 116px;
}
.keep-img::before {
  position: relative;
  content: "";
  display: block;
  width: 249px;
  height: 249px;
  background-image: url(./img/oval.png);
  top: 150px;
  left: 240px;
  z-index: -1;
}
.keep-img::after {
  position: relative;
  content: "";
  display: block;
  width: 414px;
  height: 434px;
  background-image: url(./img/group.png);
  left: 100px;
  bottom: 315px;
  z-index: 1;
  background-position: center;
  background-size: contain;
}
.keep-title {
  font-family: "Roboto" sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
  color: #00194a;
  margin-bottom: 30px;
}
.keep-text {
  font-family: "Roboto" sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: #00194a;
  opacity: 0.5;
}

/*-----modalni vikna-----*/
.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 1;
background-color: #27272b33;
transition: opacity 0.5ms cubic-bezier(0.83, -0.08, 0.32, 1 ) 1ms, visibility 0.5ms cubic-bezier(0.83 -0.08 0.32 1 ) 1s ;
}
.model {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  background-color: #ffffff;
  transform: translate(-50% ,-50%);
  transition: opacity 0.5ms cubic-bezier(0.83, -0.08, 0.32, 1 ) 1ms;
}
.backdrop.is-hidden{
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}
.no-scroll{
    overflow: hidden;
}

.input:disabled{
  border-color:brown ;
}
.checkbox:checked{
  background-color: #ff0043;
  border: 4px solid green;

}
input:required{
border-color: orange;
}
input:valid{
  border: 3px solid green;
}
.input:placeholder-shown{
  color: red;
}
.btn-open{
  background-color: red;
}
.btn-open:hover{
  background-color: green;
animation-name:change-bg-color ;
animation-duration: 1000ms;
animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
/*оголошення анімаціі */
@keyframes change-bg-color{
  0%{
background-color: #ffb916;
  }
  50%{
    background-color: pink;
  }
  100%{
background-color: rgb(11, 10, 10);
  }
}